./docker/php/cron/log/cron.log

# Ignore node_modules folder
node_modules

# Ignore database files
dbdata

.idea

atcc-laravel/public/css/app.css
atcc-laravel/public/js/app.js

.vscode

package-lock.json