.register-button {
    background-color: #4b89e2;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.register-button:hover {
    background-color: #0dcaf0;
    color: black;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);;
    justify-content: space-between;
    grid-gap: 50px;
    margin-bottom: 50px;
}

.card-header {
    font-weight: bold;
    text-align: center;
}

.card-link {
    cursor: pointer;
}

.card-link:hover {
    background-color: #ccc;
}

.green {
    background-color: #00b932;
}

.red {
    background-color: #e80b0b;
}
