.register-button {
    background-color: #4b89e2;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.register-button:hover {
    background-color: #0dcaf0;
    color: black;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);;
    justify-content: space-between;
    grid-gap: 50px;
    margin-bottom: 50px;
}

.card-header {
    font-weight: bold;
    text-align: center;
}

.card-link {
    cursor: pointer;
}

.card-link:hover {
    background-color: #ccc;
}

/*.list-table {*/
/*    border: 1px solid black;*/
/*    min-height: 500px;*/
/*    max-height: 500px;*/
/*    overflow-y: auto;*/
/*}*/

/*.list-row {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    column-gap: 30px;*/
/*    font-size: 18px;*/
/*    padding: 0 15px;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    align-items: baseline;*/
/*    align-content: baseline;*/
/*}*/

/*.header {*/
/*    text-transform: uppercase;*/
/*    background-color: #4b89e2;*/
/*}*/

/*.body:hover {*/
/*    background-color: #788585;*/
/*    cursor: pointer;*/
/*}*/

.green {
    background-color: #00b932;
}

.red {
    background-color: #e80b0b;
}
